/* GENERAL STYLING */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
}

.container-1024 {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

ul,
input,
button,
a,
textarea,
select {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  text-decoration: none;
  color: inherit;
  border-radius: 0px;
}

.d-flex {
  display: flex;
}

.j-c-sb {
  justify-content: space-between;
}

.j-c-center {
  justify-content: center;
}

.a-i-center {
  align-items: center;
}

.f-d-ver {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.p-t-30 {
  padding-top: 30px;
}

.box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.background-grey {
  background-color: #666666;
}
