ul {
  list-style-type: none;
  display: flex;
}

.header {
  background-color: #f36b36;
  align-content: center;
}

.container-1024 {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

#logo {
  height: 50px;
  background-color: white;
}

.form {
  display: flex;
  flex-direction: column;
}
